<template>
  <v-container class="">
    <v-row justify="end">
      <v-col cols="12" md="2" xl="1">
        <v-btn
          elevation="0"
          class="mx-2 mb-4 rounded-lg secondary textColor--text"
          @click="addGroup"
        >
          Create group
        </v-btn>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="12" md="8">
        <v-data-table
          :headers="headers"
          :items="groups"
          :items-per-page="5"
          class="elevation-0"
        >
          <template v-slot:[`item.actions`]="{ item }">
            <v-hover v-slot:default="{ hover }">
              <v-btn icon>
                <v-icon
                  :color="hover ? 'primary' : ''"
                  class="mx-2"
                  @click="viewItem(item.id)"
                >
                  mdi-eye-outline
                </v-icon>
              </v-btn>
            </v-hover>
            <v-hover v-slot:default="{ hover }">
              <v-btn icon>
                <v-icon
                  :color="hover ? 'error' : ''"
                  class="mx-2"
                  @click="deleteItem(item.id)"
                >
                  mdi-delete-forever-outline
                </v-icon>
              </v-btn>
            </v-hover>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
    <v-dialog
      v-model="itemDialog"
      :fullscreen="$vuetify.breakpoint.mobile"
      :overlay="false"
      max-width="500px"
      transition="dialog-transition"
      scrollable
    >
      <group-item
        v-if="itemDialog"
        @close="itemDialog = false"
        @close-and-reload="closeAndReload"
      />
    </v-dialog>
  </v-container>
</template>

<script>
import { mapFields } from "vuex-map-fields";
import groupItem from "./show";

export default {
  name: "groups",

  components: {
    groupItem
  },

  data() {
    return {
      itemDialog: false
    };
  },

  computed: {
    ...mapFields("group", ["id"]),
    ...mapFields("group", ["groups"]),
    ...mapFields("group", ["headers"])
  },

  methods: {
    load() {
      this.$store.dispatch("group/loadGroups");
      this.$store.dispatch("group/loadTypes");
    },
    viewItem(id) {
      this.id = id;
      this.itemDialog = true;
    },
    deleteItem(id) {
      this.$store
        .dispatch("group/deleteGroup", id)
        .then(() => {
          //
        })
        .catch(err => {
          console.log(err);
          this.$notify({
            text: "Error, couldn't delete group",
            type: "warning"
          });
        });
    },
    addGroup() {
      this.$store.commit("group/RESET_GROUP");
      this.itemDialog = true;
    },
    closeAndReload() {
      this.load();
      this.itemDialog = false;
    }
  },

  created() {
    this.load();
  }
};
</script>

<style></style>
