<template>
  <v-card class="" elevation="" max-width="">
    <v-card-title
      primary-title
      v-text="id == 0 ? 'Create group' : 'Update group'"
    >
    </v-card-title>
    <v-card-text>
      <v-row no-gutters>
        <v-col cols="12" md="3">
          <div class="text-body-2 black--text mt-2" v-text="'Name'"></div>
        </v-col>
        <v-col cols="12" md="9">
          <v-text-field
            v-model="name"
            outlined
            dense
            :error-messages="nameErrors"
            autocomplete="off"
            spellcheck="off"
            background-color="inputBack"
            class="rounded-lg"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col cols="12" md="3">
          <div class="text-body-2 black--text mt-2" v-text="'Type'"></div>
        </v-col>
        <v-col cols="12" md="9">
          <v-select
            :items="types"
            v-model="groupTypeId"
            outlined
            dense
            :error-messages="typeErrors"
            background-color="inputBack"
            class="rounded-lg"
            item-value="group_type_id"
            item-text="group_type_name"
          ></v-select>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col cols="12" md="3">
          <div
            class="text-body-2 black--text mt-2"
            v-text="'Members max number'"
          ></div>
        </v-col>
        <v-col cols="12" md="9">
          <v-text-field
            v-model="maximumMembers"
            type="number"
            min="0"
            outlined
            dense
            :error-messages="maxCountErrors"
            autocomplete="off"
            spellcheck="off"
            background-color="inputBack"
            class="rounded-lg"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row v-for="(item, i) in groupErrors" :key="i" no-gutters>
        <v-col cols="12">
          <v-alert icon="mdi-information" color="red" type="error" dense>
            {{ item }}
          </v-alert>
        </v-col>
      </v-row>
    </v-card-text>
    <v-card-actions class="d-flex justify-center">
      <v-btn
        class="mx-2 mb-4 rounded-lg secondary textColor--text"
        @click="save"
      >
        Save
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapFields } from "vuex-map-fields";
import { required } from "vuelidate/lib/validators";

export default {
  name: "group-show",

  data() {
    return {
      //
    };
  },

  validations: {
    name: { required },
    groupTypeId: { required },
    maximumMembers: { required }
  },

  computed: {
    ...mapFields("group", ["id"]),
    ...mapFields("group", ["name"]),
    ...mapFields("group", ["groupTypeId"]),
    ...mapFields("group", ["maximumMembers"]),
    ...mapFields("group", ["types"]),
    //
    ...mapFields("group", ["groupErrors"]),

    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.required && errors.push("required");
      return errors;
    },
    typeErrors() {
      const errors = [];
      if (!this.$v.groupTypeId.$dirty) return errors;
      !this.$v.groupTypeId.required && errors.push("required");
      return errors;
    },
    maxCountErrors() {
      const errors = [];
      if (!this.$v.maximumMembers.$dirty) return errors;
      !this.$v.maximumMembers.required && errors.push("required");
      return errors;
    }
  },

  methods: {
    save() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.$notify({
          text: "Please check your inputs",
          type: "warning"
        });
        return;
      }
      this.doSave();
    },
    doSave() {
      if (this.id == 0)
        this.$store
          .dispatch("group/createGroup")
          .then(() => this.closeAndReload())
          .catch(() => {
            //
          });
      else if (this.id > 0)
        this.$store
          .dispatch("group/updateGroup")
          .then(() => this.closeAndReload())
          .catch(() => {
            //
          });
    },
    closeAndReload() {
      this.$store.commit("group/RESET_GROUP");
      this.$emit("closeAndReload");
    }
  },

  created() {
    if (this.id == 0) this.$store.commit("group/RESET_GROUP");
    else if (this.id > 0) this.$store.dispatch("group/loadGroup");
  }
};
</script>

<style></style>
