<template>
  <div>
    <v-navigation-drawer permanent>
      <v-list>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="text-h4">
              <v-icon x-large color="">mdi-chat-outline</v-icon>
              Chat
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-divider></v-divider>
      <v-list nav dense>
        <v-list-item-group color="primary">
          <v-list-item
            v-for="(item, i) in groups"
            :key="i"
            @click="setGroup(item)"
          >
            <div class="d-flex flex-row justify-start" style="width: 100%;">
              <v-icon class="mr-2">mdi-account-multiple</v-icon>
              <div v-text="item.group_name"></div>
              <v-spacer></v-spacer>
              <v-icon v-if="item.group_follow" class="mr-2" color="">
                mdi-account-check-outline
              </v-icon>
              <span v-text="item.group_members_number"></span>
            </div>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
import { mapFields } from "vuex-map-fields";

export default {
  name: "chat-space",

  data() {
    return {
      //
    };
  },

  computed: {
    ...mapFields("chat", ["groups"]),
    ...mapFields("chat", ["selectedGroup"])
  },

  methods: {
    setGroup(group) {
      this.selectedGroup = group;
    }
  }
};
</script>

<style></style>
