<template>
  <div>
    <v-row>
      <v-col cols="12" md="3">
        <groups />
      </v-col>
      <v-col cols="12" md="9">
        <v-card elevation="0" width="100%" height="100%">
          <v-card-text>
            <!-- group info -->
            <v-row justify="end" v-if="selectedGroup">
              <v-col cols="9">
                <div class="text-h5" v-text="selectedGroup.group_name"></div>
              </v-col>
              <v-col cols="3">
                <v-btn
                  v-if="!selectedGroup.group_follow"
                  elevation="0"
                  color="teal"
                  @click="followGroup"
                  dark
                >
                  <v-icon class="mr-2">
                    mdi-account-multiple-plus-outline
                  </v-icon>
                  Follow
                </v-btn>
                <v-btn
                  v-else-if="selectedGroup.group_follow"
                  elevation="0"
                  color="yellow"
                  @click="unfollowGroup"
                >
                  <v-icon class="mr-2"> mdi-account-minus-outline </v-icon>
                  Un-follow
                </v-btn>
              </v-col>
            </v-row>
            <!-- messages -->
            <div
              v-show="selectedGroup > 0"
              style="width: 100%; height: 60vh; overflow-y: scroll; overflow-x: hidden;"
              class="d-flex flex-column"
            >
              <v-row
                v-for="(item, i) in messages"
                :key="i"
                :justify="item.sender_id == userId ? 'end' : 'start'"
              >
                <v-col cols="9">
                  <v-card color="grey lighten-1" elevation="0">
                    <v-card-text>
                      <div class="d-flex justify-space-between">
                        <div
                          class="text-body-2"
                          v-text="item.sender_name"
                        ></div>
                        <div class="text-left" v-show="role == 'admin'">
                          <v-btn x-small icon>
                            <v-icon
                              color="primary"
                              @click="removeMessage(item.message_id)"
                            >
                              mdi-close-circle
                            </v-icon>
                          </v-btn>
                        </div>
                      </div>
                      <div class="d-flex justify-space-between">
                        <div
                          class="text-body-1"
                          v-text="item.message_content"
                        ></div>
                        <div
                          class="text-caption"
                          v-text="item.message_created_at"
                        ></div>
                      </div>
                    </v-card-text>
                  </v-card>
                </v-col>
              </v-row>
            </div>
            <!-- new message -->
            <div v-if="canMessage" class="ma-2">
              <v-textarea
                placeholder="Write here to say something"
                v-model="newMessage"
                rows="2"
                no-resize
                outlined
                :append-outer-icon="newMessage ? 'mdi-send' : ''"
                clear-icon="mdi-close-circle"
                clearable
                @click:append-outer="sendMessage"
                @click:clear="clearMessage"
                counter
              ></v-textarea>
            </div>
          </v-card-text>
          <v-card-actions> </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapFields } from "vuex-map-fields";
import Pusher from "pusher-js";
import groups from "./groups";

export default {
  name: "chat",

  components: {
    groups
  },

  data() {
    return {
      //
    };
  },

  methods: {
    removeMessage(id) {
      if (this.role == "admin") this.$store.dispatch("chat/deleteMessage", id);
    },
    followGroup() {
      this.$store.dispatch("chat/followGroup").then(() => {
        this.getGroups();
        this.getMessages();
      });
    },
    unfollowGroup() {
      this.$store.dispatch("chat/unfollowGroup").then(() => {
        this.getGroups();
        this.getMessages();
      });
    },
    getMessages() {
      this.$store.dispatch("chat/getMessages");
    },
    getGroups() {
      this.$store.dispatch("chat/getGroupDetails", this.userId);
    },
    sendMessage() {
      if (this.newMessage) this.$store.dispatch("chat/insertMessage");
    },
    clearMessage() {
      this.newMessage = "";
    },
    subscribe() {
      let pusher = new Pusher({
        appId: "1102494",
        key: "c66face03653675ea054",
        secret: "88aee995eb95e92a77a8",
        cluster: "ap2"
      });
      pusher.subscribe("messages");
      // pusher.bind("messages_added", data => {
      //   this.getMessages();
      // });
    }
  },

  computed: {
    ...mapFields("auth", ["userId"]),
    ...mapFields("auth", ["role"]),
    ...mapFields("chat", ["selectedGroup"]),
    ...mapFields("chat", ["messages"]),
    ...mapFields("chat", ["newMessage"]),
    canMessage() {
      return this.selectedGroup
        ? this.selectedGroup.group_follow
          ? true
          : false
        : false;
    }
  },

  watch: {
    selectedGroup: {
      handler: function(val) {
        if (val.group_follow) this.getMessages();
      }
    }
  },

  created() {
    this.getGroups();
    // this.subscribe();
  }
};
</script>

<style></style>
