<template>
  <v-app-bar color="white" flat app dense>
    <v-app-bar-nav-icon :to="{ name: 'chat' }">
      <v-icon x-large>mdi-chat-processing-outline</v-icon>
    </v-app-bar-nav-icon>

    <v-toolbar-title class="mr-8">Chatoli</v-toolbar-title>
    <v-btn
      small
      elevation="0"
      color="secondary"
      class="black--text rounded-xl"
      v-if="isLoggedIn && role == 'admin'"
      :to="{ name: 'groups' }"
    >
      Groups Management
    </v-btn>

    <v-spacer></v-spacer>
    <v-btn
      elevation="0"
      color="secondary"
      :to="{ name: 'logout' }"
      class="black--text rounded-xl"
      small
      v-if="isLoggedIn"
    >
      <v-icon class="mr-2" color="">mdi-logout-variant</v-icon>
      Logout
    </v-btn>

    <v-progress-linear
      :active="loading"
      indeterminate
      absolute
      top
      color="light-blue"
      height="3px"
    ></v-progress-linear>
  </v-app-bar>
</template>

<script>
import { mapFields } from "vuex-map-fields";

export default {
  name: "app-bar",
  data() {
    return {};
  },
  methods: {},

  computed: {
    ...mapFields("auth", ["role"]),
    isLoggedIn() {
      return this.$store.getters["auth/isLoggedIn"];
    },
    loading() {
      // return this.$store.state.ui.appLoadingBar;
      return false;
    }
  }
};
</script>

<style scoped></style>
