<template>
  <v-app>
    <app-bar v-if="isLogged" />
    <!-- <side-nav v-if="isLogged" /> -->
    <v-main>
      <notification />
      <v-container fluid style="background-color: #e7f6fd; min-height: 95vh;">
        <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import appBar from "@/components/app-bar";
import notification from "@/components/notification";
// import sideNav from "@/components/side-nav";
import axios from "@/plugins/api";

export default {
  name: "App",

  components: {
    notification,
    appBar
  },

  data() {
    return {};
  },

  created() {
    if (this.$store.state.auth.token) {
      axios.defaults.headers.common["Authorization"] =
        "Bearer " + this.$store.state.auth.token;
    }
    this.$router.push({ name: "login" });
  },

  computed: {
    isLogged() {
      return this.$store.getters["auth/isLoggedIn"];
    }
  }
};
</script>
<style lang="scss">
@import "./sass/app.scss";
</style>
