<template>
  <div>
    <div style="height: 100vh;">
      <div
        class="d-flex flex-column justify-center align-center mgradient"
        style="height: 100%; width: 100%;"
      >
        <div style="width: 100%;" class="flex-grow-1 d-flex align-center">
          <v-row justify="center">
            <v-col cols="12" md="4" lg="3">
              <v-card flat class="rounded-xl pa-1">
                <v-card-title>
                  <div
                    class="mt-4 text-h5 text-center"
                    style="width: 100%;"
                    v-text="'Login'"
                  ></div>
                </v-card-title>
                <v-card-text>
                  <v-divider class="mb-4"></v-divider>
                  <v-row no-gutters justify="center">
                    <v-col cols="12" md="10">
                      <v-text-field
                        v-model="email"
                        :error-messages="emailErrors"
                        :placeholder="'Email'"
                        outlined
                        dense
                        autocomplete="off"
                        autocorrect="off"
                        spellcheck="off"
                        @keyup.enter="login"
                        prepend-inner-icon="mdi-account"
                        background-color="inputBack"
                        class="rounded-lg"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row no-gutters justify="center">
                    <v-col cols="12" md="10">
                      <v-text-field
                        :type="showPassword ? 'text' : 'password'"
                        v-model="password"
                        :error-messages="passwordErrors"
                        :placeholder="'Password'"
                        outlined
                        dense
                        @keyup.enter="login"
                        @click:append="showPassword = !showPassword"
                        :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                        autocorrect="off"
                        autocapitalize="off"
                        spellcheck="false"
                        prepend-inner-icon="mdi-lock"
                        background-color="inputBack"
                        class="rounded-lg"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-card-text>
                <v-card-actions class="d-flex flex-column justify-center mb-1">
                  <v-btn
                    @click="login"
                    :loading="loading"
                    class="mx-2 mb-4 rounded-lg secondary textColor--text"
                    elevation="0"
                  >
                    Login
                  </v-btn>
                  <div style="width: 100%;" class="d-flex px-6">
                    <v-checkbox
                      v-model="rememberMe"
                      label="Remeber me"
                      hide-details
                      dense
                    ></v-checkbox>
                  </div>
                </v-card-actions>
              </v-card>
              <div class="d-flex justify-space-between mt-8 px-4">
                <div
                  class="text-body-2 text-center mt-2"
                  v-text="'Dont have an account ?'"
                ></div>
                <v-btn
                  elevation="0"
                  class="rounded-lg secondary textColor--text"
                  v-text="'Register'"
                  :to="{ name: 'register' }"
                  small
                ></v-btn>
              </div>
              <div class="my-2">
                <v-row v-for="(item, i) in messages" :key="i" no-gutters>
                  <v-col cols="12">
                    <v-alert
                      icon="mdi-information"
                      color="red"
                      type="error"
                      v-text="item"
                      dense
                    ></v-alert>
                  </v-col>
                </v-row>
              </div>
            </v-col>
          </v-row>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      loading: false,
      messages: [],
      showPassword: false,
      // form
      email: null,
      password: null,
      rememberMe: false
    };
  },

  validations: {
    email: { required },
    password: { required }
  },

  methods: {
    login() {
      if (this.loading) return;

      this.$v.$touch();
      if (this.$v.$invalid) return;
      this.loading = true;
      this.$store
        .dispatch("auth/login", {
          email: this.email,
          password: this.password
        })
        .then(() => {
          this.messages = [];
          this.$router.push("/");
        })
        .catch(err => {
          //   console.log(err.response);
          this.messages[0] = err.response.data.email;
        })
        .finally(() => (this.loading = false));
    }
  },

  computed: {
    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;
      !this.$v.email.required && errors.push(this.$t("required"));
      return errors;
    },
    passwordErrors() {
      const errors = [];
      if (!this.$v.password.$dirty) return errors;
      !this.$v.password.required && errors.push(this.$t("required"));
      return errors;
    },
    isLogged() {
      return this.$store.getters["auth/isSignedIn"];
    }
  }
};
</script>

<style></style>
