<template>
  <div>
    <div
      v-if="loading"
      class="d-flex justify-center align-center"
      style="height: 80vh;"
    >
      <v-progress-circular indeterminate></v-progress-circular>
    </div>
  </div>
</template>

<script>
export default {
  name: "logout",

  data() {
    return {
      loading: false
    };
  },

  methods: {
    logout() {
      this.loading = true;

      this.$store
        .dispatch("auth/logout")
        .then(() => {
          //
        })
        .catch(() => {
          //
        })
        .finally(() => {
          this.loading = false;
          setTimeout(() => {
            this.$router.push({ name: "login" });
          }, 500);
        });
    }
  },
  mounted() {
    this.logout();
  }
};
</script>

<style></style>
