<template>
  <v-container id="section-top">
    <v-row v-for="(item, i) in messages" :key="i" no-gutters>
      <v-col cols="12" md="4">
        <v-alert
          icon="mdi-information"
          color="red"
          type="error"
          v-text="item"
          dense
        ></v-alert>
      </v-col>
    </v-row>

    <v-row justify="center">
      <v-col cols="12" md="5">
        <v-card class="rounded-xl pa-1" flat>
          <v-card-title>
            <div
              class="mt-4 text-h5 text-center"
              style="width: 100%;"
              v-text="'Register'"
            ></div>
          </v-card-title>
          <v-card-text>
            <v-divider class="mb-4"></v-divider>

            <v-row no-gutters>
              <v-col cols="12" md="3">
                <div class="text-body-2 black--text mt-2" v-text="'Name'"></div>
              </v-col>
              <v-col cols="12" md="9">
                <v-text-field
                  v-model="name"
                  outlined
                  dense
                  :error-messages="nameErrors"
                  autocomplete="off"
                  spellcheck="off"
                  background-color="inputBack"
                  class="rounded-lg"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row no-gutters>
              <v-col cols="12" md="3">
                <div
                  class="text-body-2 black--text mb-2"
                  v-text="'Email'"
                ></div>
              </v-col>
              <v-col cols="12" md="9">
                <v-text-field
                  v-model="email"
                  outlined
                  dense
                  :error-messages="emailErrors"
                  autocomplete="off"
                  spellcheck="off"
                  background-color="inputBack"
                  class="rounded-lg"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row no-gutters>
              <v-col cols="12" md="3">
                <div
                  class="text-body-2 black--text mb-2"
                  v-text="'Password'"
                ></div>
              </v-col>
              <v-col cols="12" md="9">
                <v-text-field
                  v-model="password"
                  outlined
                  dense
                  :type="showPassword ? 'text' : 'password'"
                  @click:append="showPassword = !showPassword"
                  :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                  :error-messages="passwordErrors"
                  autocomplete="off"
                  spellcheck="off"
                  background-color="inputBack"
                  class="rounded-lg"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row no-gutters>
              <v-col cols="12" md="3">
                <div
                  class="text-body-2 black--text mt-2"
                  v-text="'Password confirm'"
                ></div>
              </v-col>
              <v-col cols="12" md="9">
                <v-text-field
                  v-model="confirm"
                  :type="showPassword ? 'text' : 'password'"
                  @click:append="showPassword = !showPassword"
                  :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                  @change="$v.confirm.$touch()"
                  @blur="$v.confirm.$touch()"
                  outlined
                  dense
                  :error-messages="confirmErrors"
                  background-color="inputBack"
                  class="rounded-lg"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions class="d-flex flex-column justify-center">
            <v-btn
              class="mx-2 mb-4 rounded-lg secondary textColor--text"
              elevation="0"
              v-text="'Register'"
              @click="register"
            >
            </v-btn>
          </v-card-actions>
        </v-card>
        <div class="d-flex justify-space-between mt-8 px-4">
          <div
            class="text-body-2 text-center mt-2"
            v-text="'Already have an account ?'"
          ></div>
          <v-btn
            elevation="0"
            class="rounded-lg secondary textColor--text"
            v-text="'Login'"
            :to="{ name: 'login' }"
            small
          ></v-btn>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import {
  required,
  sameAs,
  email,
  minLength,
  helpers
} from "vuelidate/lib/validators";
const passwordPattern = helpers.regex(
  "passwordPattern",
  /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/
);

import api from "../../api/auth.api";

export default {
  name: "register",

  data() {
    return {
      messages: [],
      showPassword: false,
      //
      name: null,
      email: null,
      password: null,
      confirm: null
    };
  },

  validations: {
    name: { required },
    email: { required, email },
    password: { required, minLength: minLength(8), passwordPattern },
    confirm: {
      minLength: minLength(8),
      sameAsPassword: sameAs("password"),
      required
    }
  },

  computed: {
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.required && errors.push("Required");
      return errors;
    },
    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;
      !this.$v.email.required && errors.push("Required");
      !this.$v.email.email && errors.push("emailNotValid");
      return errors;
    },
    passwordErrors() {
      const errors = [];
      if (!this.$v.password.$dirty) return errors;
      !this.$v.password.required && errors.push("Required");
      !this.$v.password.passwordPattern &&
        errors.push(
          "Must contain at least one uppercase letter, one lowercase letter one number, and one symbol"
        );
      !this.$v.password.minLength &&
        errors.push("Should be minimum of 8 characters");
      return errors;
    },
    confirmErrors() {
      const errors = [];
      if (!this.$v.confirm.$dirty) return errors;
      !this.$v.confirm.required && errors.push("Required");
      !this.$v.confirm.minLength &&
        errors.push("Should be minimum of 8 characters");
      !this.$v.confirm.sameAsPassword &&
        errors.push("Password should and confirm should be identical");
      return errors;
    }
  },

  methods: {
    register() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.$notify({
          text: "Please check inputs",
          type: "warning"
        });
        return;
      }
      let data = {
        name: this.name,
        email: this.email,
        password: this.password,
        password_confirmation: this.confirm
      };

      api
        .register(data)
        .then(() => {
          this.$notify({
            text: "Success register",
            type: "success"
          });
          this.$router.push({ name: "login" });
        })
        .catch(res => {
          this.messages = Array.isArray(res.data.message)
            ? res.data.message
            : [res.data.message];
          this.$vuetify.goTo("#section-top");
        });
    }
  }
};
</script>

<style></style>
